ConfigSpace==0.6.1
ConfigSpace==0.6.1
hpbandster==0.7.4
keras==2.12.0
keras==2.10.0
numpy==1.24.0
numpy==1.23.5
pandas==1.5.2
rdkit==2022.9.4
setuptools==67.6.1
setuptools==61.2.0
setuptools==65.6.3
tensorflow_macos==2.10.0
tensorflow_macos==2.12.0
